img {
    zoom : 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: center
}

.row {
    display: inline-block;
}
p {
    text-align: center
}

h1 {
    text-align: center
}

h2 {
    text-align: center
}

h3 {
    text-align: center
}

h4 {
    text-align: center
}

div {
    width : 1150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#MinesweeperHolder {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
